<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments::header}"></head>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul th:replace="~{fragments::sidebar}"></ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav th:replace="~{fragments::top-navbar}"></nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Success Message -->
                <div th:if="${success}" class="text-center alert alert-success">
                    <p th:text="${success}"></p>
                </div>

                <!-- Order Table -->
                <div class="table-main table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Data do Pedido</th>
                            <th>Data da Entrega</th>
                            <th>Status do Pedido</th>
                            <th>Quantidade de Produtos</th>
                            <th>Total do Pedido</th>
                            <th>Método de Pagamento</th>
                            <th>Ação</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="order : ${orders}">
                            <td>
                                <span><b th:text="${order.orderDate}"></b></span>
                            </td>
                            <td th:if="${order.accept}">
                                <a href="#" th:text="${order.deliveryDate}"></a>
                            </td>
                            <td th:if="${!order.accept}">
                                <span th:text="${order.deliveryDate}"></span>
                            </td>
                            <td>
                                <p th:text="${order.orderStatus}"></p>
                            </td>
                            <td th:text="${order.quantity}"></td>
                            <td>
                                <p style="color: red" th:text="'R$ ' + ${order.totalPrice}"></p>
                            </td>
                            <td style="color: black">
                                <span th:text="${order.paymentMethod}"></span>
                            </td>
                            <td>
                                <a th:if="${order.accept}" th:href="@{/cancel-order(id=${order.id})}" class="btn btn-primary">Cancelar</a>
                                <a th:if="${!order.accept}" th:href="@{/accept-order(id=${order.id})}" class="btn btn-secondary">Aceitar</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- End of Order Table -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer th:replace="~{fragments::footer}"></footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a th:replace="~{fragments::scroll}"></a>

<!-- Bootstrap core JavaScript-->
<div th:replace="~{fragments::script}"></div>
<script th:src="@{/js/categories.js}"></script>
</body>
</html>
