<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<!-- Basic -->

<head th:replace="~{fragments::head}">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<!-- Start Main Top -->
<div th:replace="~{fragments::main-top}">
</div>
<!-- End Main Top -->


<!-- Start Main Top -->
<header th:replace="~{fragments::main-header}">
</header>
<!-- End Main Top -->

<!-- Start Top Search -->
<div th:replace="~{fragments::top-search}">
</div>
<!-- End Top Search -->


<!-- Start Contact Us  -->
<div class="contact-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="contact-info-left">
                    <h2>Contato</h2>
                    <p>Enviem-nos uma mensagem ou ligue para nós se quiser comentar sobre produtos ou sugestões.</p>
                    <ul>
                        <li>
                            <p><i class="fas fa-map-marker-alt"></i>Endereço: Rua dos Limoeiros, 33, São Paulo/SP
                            </p>
                        </li>
                        <li>
                            <p><i class="fas fa-phone-square"></i>WhatsApp: (11)99999-9999)</p>
                        </li>
                        <li>
                            <p><i class="fas fa-envelope"></i>Email: gsouza59@gmail.com</p>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="banner-frame">
                    <img class="img-fluid" src="images/bitslogo.jpg" alt="logo Bits&Bytes" />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Cart -->

<!-- Start Footer  -->
<footer th:replace="~{fragments::footer}">
</footer>
<div th:replace="~{fragments::script}"></div>
</body>

</html>